# This is a basic workflow to help you get started with Actions

name: Update Language Sources

# Controls when the action will run. 
on:
  schedule:
    - cron:  '*/5 * * * *'
  workflow_dispatch:
  push:
    paths:
      - 'projects.json'

jobs:
  update:
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2

      - name: Update Projects Source Json
        run: | 
          npm i -D request
          node ./.github/workflows/update.js
        
      - name: Add & Commit
        uses: EndBug/add-and-commit@v7.2.1
        with:
          add: "chinese/* english/*"
          branch: main
